.next,
.prev {
  top: -6rem;
  position: absolute;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.galleryImage {
  top: -11.5rem;
  position: absolute;
}
